<h2>{{ appSettings.title }}</h2>
   Filter: <input type="text" ng-model="mineralFilter.name">

   <table>
     <tr>
       <th ng-click="doSort('name')">Name</th>
       <th ng-click="doSort('formula')">Formula</th>
       <th ng-click="doSort('group')">Group</th>
       <th ng-click="doSort('hardness')">Hardness</th>
       <th ng-click="doSort('gravity')">Specific Gravity</th>
       <th>&nbsp;</th>
     </tr>
     <tr ng-repeat="mineral in minerals | filter:mineralFilter | orderBy:sortBy:reverse">
       <td><a href="#/minerals/{{ mineral._id }}">{{ mineral.name }}</a></td>
       <td>{{ mineral.formula }}</td>
       <td>{{ mineral.group }}</td>
       <td>{{ mineral.hardness }}</td>
       <td>{{ mineral.gravity }}</td>
     </tr>
   </table>

   <span>Total minerals: {{ minerals.length }}</span>
<br /> <br />
<footer>Version: {{ appSettings.version }}</footer>
